@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkblue: #050259;
    --purple: #BBBDF2;
    --green: #3DD973;
    --white: #ffffff;
    --gray: #b8b8b8;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--darkblue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
